#square-position
{
position:fixed;
top:72.8%;
left:50%;
}
#line-position
{
position:fixed;
top:12.8%;
left:40.1%;
}
#blueL-position
{
position:fixed;	
top:83%;
right:55%;
}
#orangeL-position
{
position:fixed;	
top:83%;
left:55.2%;
}
#greenStep-position
{
position:fixed;	
top: 88.3%;
left:56.05%;
}
#redStep-position
{
position:fixed;	
bottom: 53.56%;
left:56%;
}
#purple-t-position
{
position:fixed;
top:54%;
right:52.6%;	
}

#square-position-2
{
position:fixed;
bottom:16%;
right:54.4%;
}
#line-position-2
{
position:fixed;
bottom:19%;
left:52.4%;
}
#blueL-position-2
{
position:fixed;	
bottom:49.4%;
left:41.436%;
}
#orangeL-position-2
{
position:fixed;	
bottom:51%;
left:48%;
}
#greenStep-position-2
{
position:fixed;	
bottom: 8%;
left:52.5%;
}
#redStep-position-2
{
position:fixed;	
bottom: 76%;
left:59.6%;
}
#purple-t-position-2
{
position:fixed;
bottom:19%;
left:52.424%;	
}

#orange-side-2
{
position: relative;
bottom: 134px;
left: 59px;
}

#greenStep-position-3
{
position:fixed;	
bottom: 82%;
left:63.9%;
z-index:23;
}

#blue-side
{
position:relative;
bottom:168px;
right:9px;
}
#blue-tall
{
position:relative;
top:0;
left:0;
}

#orange-side
{
position:relative;
bottom:100px;
right:43px
}
#orange-tall
{
position:relative;
top:0;
left:0;
}

#sideBlueLeft
{
position: absolute;
bottom:0;
left:0;	
}
#sideBlueRight
{
position: absolute;
bottom:0;
right:0;	
}
#sideOrangeLeft
{
position: absolute;
bottom:0;
left:0;	
}
#sideOrangeRight
{
position: absolute;
bottom:0;
right:0;	
}
#green-long-left
{
position:absolute;
top:0;
left:0;	
}
#green-long-right
{
position:absolute;
top:0;
right:0;	
}
#red-long-left
{
position:absolute;
top:0;
left:0;	
}
#red-long-right
{
position:absolute;
top:0;
right:0;	
}

#purple-top
{
position:absolute;
bottom:0;
right:0;
}
#purple-bottom-right
{
position:absolute;
top:0;
left:68px;
}
#purple-bottom-middle
{
position:absolute;
top:0;
right:0;
}
#purple-bottom-left
{
position:absolute;
top:0;
left:0;
}

#purple-top-2
{
position:absolute;
top:34px;
left:34px;
}
#green-long-left-2
{
position: absolute;
bottom: 0px;
right:34px;	
}
#green-top-2
{
position:relative;
bottom:68px;
left:34px;	
}

#red-long-left-2
{
position:absolute;
bottom:0px;
right:0px;	
}
#red-top-2
{
position:relative;
top:-68px;
right:0;	
}

#blue-side-2
{
position:relative;
bottom:66px;
left: 25px;
}



