<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Vue Mastery</title>
  <!-- Import Styles -->
  <link rel="stylesheet" href="./assets/styles.css" />
  <!-- Import Vue.js -->
  <script src="https://unpkg.com/vue@3.0.0-beta.12/dist/vue.global.js"></script>
</head>

<body>
  <div id="app">
    <div class="nav-bar"></div>

    <div class="cart">Cart({{ cart }})</div>

    <div class="product-display">
      <div class="product-container">
        <div class="product-image">
          <a :href="url"><img :src="img" :alt="desc"></a>
        </div>
        <div class="product-info">
          <h1>{{ product }}</h1>
          <p>{{ desc }}</p>
          <h3 v-show="onSale">WE ARE ON SALE!</h3>
          <p v-if="inventory >= 5">In Stock!</p>
          <p v-else-if="inventory < 5 && inventory > 0">Almost Sold Out</p>
          <p v-else>Out of Stock!</p>
          <ul>
            <li v-for="detail in details">{{ detail }}</li>
          </ul>
          <div v-for="variant of variants" :key="variant.id"  @mouseover="updateImage(variant.image)">{{ variant.color }}</div>
          <button class="button" v-on:click="addToCart" :disabled="inventory < 1">Add to Cart</button>
          <button class="button" v-on:click="removeFromCart" >Add to Cart</button>
          <br>
          <div v-for="size of sizes" style="display:inline-block; margin:15px;"><div v-if="size.inStock"> {{ size.size }} </div></div>
        </div>
      </div>
    </div>
  </div>

  <!-- Import App -->
  <script src="./main.js"></script>

  <!-- Mount App -->
  <script>
    const mountedApp = app.mount('#app')
  </script>
</body>

</html>