@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@700&family=Arima+Madurai:wght@800;900&family=Comic+Neue:ital,wght@1,700&display=swap');
* {
    margin: 0;
    padding: 0;
}

body {
    background-image: url("../img/flower-pattern.png");
}

nav ul {
    text-align: center;
    position: sticky;
    top: 0;
    background-color: rgb(248, 248, 248);
}

nav ul li a,
nav ul li {
    display: inline-block;
}

nav ul li a {
    box-sizing: border-box;
    text-decoration: none;
    padding: 5px 30px;
    font-family: 'Arima Madurai', Bold;
    font-size: 45px;
    color: black;
    transition: all 500ms;
}

nav ul li a:hover {
    background-color: rgb(80, 0, 255, 0.5);
    color: rgb(248, 248, 248);
}

main {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
}

section {
    margin-top: 20px;
    width: 45%;
    box-sizing: border-box;
    background-color: rgba(80, 0, 255, 0.43);
}

section p {
    font: 35px Amatic SC;
}

section h1 {
    font: 50px Comic Neue;
}

section.button {
    padding: 20px;
    background-color: rgba(0, 0, 0, 0);
}

section.button button {
    font: 45px Comic Neue;
    box-sizing: border-box;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ef0000cc;
    border: #8d0091c2 double 8px;
    transition: background-color .5s, border .5s;
}

section.button button:hover {
    background-color: #8d0091c2;
    border: #ef0000cc double 8px;
}